@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

@keyframes auraHover {
    0%, 100% {
      text-shadow: 0 0 5px #ffe600, 0 0 10px #ffe600, 0 0 15px #ffdf00;
    }
    50% {
      text-shadow: 0 0 10px #ffff00, 0 0 20px #ffd900, 0 0 30px #ffc800;
    }
  }
  
  .aura-hover:hover {
    animation: auraHover 1s infinite;
  }
  